<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%X{X-B3-TraceId},%X{X-B3-SpanId},%t] %-5level %C %L - %msg%n" />
        </Console>
        <RollingRandomAccessFile name="logfile" fileName="D:\logs\xxq-springboot-demo\xxq-springboot-demo.log"
                                 filePattern="D:\logs\xxq-springboot-demo\xxq-springboot-demo-%d{yyyy-MM-dd}.log.%i">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%X{X-B3-TraceId},%X{X-B3-SpanId},%t] (%l)- %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="50" />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <AsyncRoot level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="logfile" />
        </AsyncRoot>
        <AsyncLogger name="org.apache.ibatis" level="debug" additivity="false"/>
    </Loggers>
</Configuration>